@font-face {
  font-family: 'miss_monkeymedium';
  src: url('/src/about/miss_monkey-webfont.ttf') format('ttf');
  src: url('/src/about/miss_monkey-webfont.woff2') format('woff2'),
       url('/src/about/miss_monkey-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
  a:link {
    text-decoration: none;
  }

  a:visited{
    text-decoration: none;
  }

  a:hover {
    color: rgb(235, 108, 4);
  }
  
  nav > a {
    font-size: 40px;
    color: black;
    font-family: 'miss_monkeymedium';
    padding: 25px;     
  }

  
  nav {
    grid-area: "nav";
    padding-top: 15px;
    margin: 5px;
    text-align: center;
  }

  h1 {
    color:Black;
    font-family:'miss_monkeymedium';
    text-align: center;
    font-size: 100px;
    padding:2px;
    margin: 3px;
  }
  
  #container {
    text-align: center;
  }