*{
    font-family: 'Patrick Hand', cursive;
    margin:auto;
}

body{
    background-color: royalblue;
    margin-left: 100px;
    margin-right:100px;
}

.square{
    width:150px;
    height:150px;
    text-align:center;
    font-size:20px;
    background-color: chartreuse;
    color:black;
}

h1{
    color: white;
    font-size: 100px;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    margin-top: 5px;
    margin-bottom:10px;
}

#message{
    color: yellow;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}

.container{
    margin: auto;
    display: grid;
}

a{
    color:white;
    text-decoration: none;
    text-align: center;
}



