@font-face {
    font-family: 'miss_monkeymedium';
    src: url('./src/about/miss_monkey-webfont.ttf') format('ttf');
    src: url('./src/about/miss_monkey-webfont.woff2') format('woff2'),
         url('./src/about/miss_monkey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1{
    text-align:center;
    font-family: 'miss_monkeymedium';
    letter-spacing:20px; 
    font-size: 100px;
    margin-top: 15px;
    margin-bottom: 5px;
}

div{
    font-family:'miss_monkeymedium';
}

nav{
    margin-bottom: 20px;
}

body{
    text-align: center;
    margin-top: 5px;
}

footer{
    font-family:'miss_monkeymedium';
    font-size: 23px;
    letter-spacing: 5px;
}

.far{
    padding: 40px;
}

.fab {
    padding: 40px;
}

@media (max-width:800px){

    h1{
        letter-spacing: 1px;
    }
    footer{
        font-family:'miss_monkeymedium';
        font-size: 23px;
        letter-spacing: 1px;
    }

}


@media (max-width:400px){

    h1{
        letter-spacing: 1px;
    }

    .far{
        padding: 15px;
    }
    
    .fab {
        padding: 15px;
    }

    footer{
        font-family:'miss_monkeymedium';
        font-size: 15px;
        letter-spacing: 1px;
    }

}