* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    margin:0,auto;
    
    
}

header{
    text-align: center;
    background-color: black;
}
h1{
    font-size: 70px;
    margin-top:0px; 
    color: #FAB617;
    letter-spacing: 52px;
    font-family: 'Permanent Marker',cursive;
    
}

#banner{
background-color:#269;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
text-align: center;
align-items: center;
display: flex;
height:70vh;
justify-content: center;
padding:0;
}
footer{
    background-color: black;
    padding:20px;
    text-align: center;
 
}

h4{
    display: inline;
    color: #FAB617;
    font-size: 30px;
    
}

button{
    font-size: 20px;
    background-color: black;
    border: none;
    margin-left:10px;
    
}
button:active{
    transform: translateY(4px);
}

a{
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    color: #AA00D4;
    background-color: none;
    
}

img{
    width: 100%;
    height:auto;
    padding:20px;
    margin:auto;
    cursor: url(/Click/tsquare.png),crosshair;
}

.triangle img{
    width:70%;
    height:auto;
    cursor: default;
}

@media (max-width: 1000px){
    h1{
        letter-spacing: 20px;
    }
}

@media (max-width: 770px){
    h1{
        font-size: 50px;
        letter-spacing: 10px;
        }
    .banner{
        display:70vh;
    }
  img{
      padding:70px;
  }
    .triangle{
        display:none;
    }
}



@media (max-width: 420px){
    h1{
    font-size: 40px;
    letter-spacing: 10px;
    }
.triangle{
    display: none;
}
.banner{
    display:50vh;
}

}



@media (max-width: 375px){
    h1{
    font-size: 30px;
    letter-spacing: 10px;
    }
.triangle{
    display:none;
}
    h4{
        font-size: 15px;
    }
.banner{
    display:5%;
}
}